/* ========== 1800 ========== */
@media screen and (max-width:1800px){
    /* header */
    .swiper-slide img {
        width: 36rem;
        height: 36rem;
    }
    .gnb_sticky nav {
        margin-right: 20rem;
    }
    /* header */
}
/* ========== 1800 ========== */


/* ========== 1600 ========== */
@media screen and (max-width:1600px){
    /* header */
    .swiper-slide img {
        width: 34rem;
        height: 34rem;
    }
    /* header */

    /* sec1 */
    .sec1 {
        height: 62rem;
    }
    .swiper-button-prev,
    .swiper-button-next{
        top: 20.5rem;
    }
    /* sec1 */

    /* sec2 */
    iframe{
        width: 90%;
        left: 5%;
    }
    /* sec2 */
}
/* ========== 1600 ========== */


/* ========== 1500 ========== */
@media screen and (max-width:1500px){
    /* header */
    .swiper-slide img {
        width: 32rem;
        height: 32rem;
    }
    .gnb_sticky nav {
        margin-right: 15rem;
    }
    /* header */

    /* sec1 */
    .swiper-button-prev,
    .swiper-button-next{
        top: 20.5rem;
    }
    /* sec1 */
    
}
/* ========== 1600 ========== */


/* ========== 1400 ========== */
@media screen and (max-width:1400px){
    /* header */
    .swiper-slide img {
        width: 30rem;
        height: 30rem;
    }
    /* header */
}
/* ========== 1400 ========== */


/* ========== 1350 ========== */
@media screen and (max-width:1350px){
    .inner{max-width: 1200px;}
    /* header */
    .red_logo{
        left: -10rem;
        position: absolute;
    }
    .dep1 > li a {
        padding: 0 2rem;
    }
    .dep2 {
        left: -40%;
    }
    .gnb_sticky .dep2_2,
    .gnb_sticky .dep2_4{
        left: -50%;
    }
    .gnb_sticky .dep2_3,
    .gnb_sticky .dep2_5{
        left: -47%;
    }
    /* header */

    /* sec4 */
    .sec4_left img {
        max-width: 90%;
    }
    /* sec4 */

    /* sec6 */
    .sec6_box > div {
        width: 36.6rem;
        height: 48.5rem;
    }
    .sec6_textbox {
        top: 37.5rem;
    }
    /* sec6 */

    /* sec7 */
    .sec7 .link1:before, .link2:before {
        width: 53rem;
    /* sec7 */
    }
}
/* ========== 1350 ========== */


/* ========== 1300 ========== */
@media screen and (max-width:1300px){
    .topbutton,
    .inquirybutton{
        width: 7rem;
        height: 7rem;
        font-size: 1.6rem;
    }
    .inquirybutton{
        line-height: 2.4rem;
    }
}
/* ========== 1300 ========== */



/* todo 1200 부터 해야함 */