/* ========== 1800 ========== */
@media screen and (max-width:1800px){
    /* header */
    .swiper-slide img {
        width: 36rem;
        height: 36rem;
    }
    .gnb_sticky nav {
        margin-right: 20rem;
    }
    /* header */
}
/* ========== 1800 ========== */


/* ========== 1600 ========== */
@media screen and (max-width:1600px){
    /* header */
    .swiper-slide img {
        width: 34rem;
        height: 34rem;
    }
    /* header */

    /* sec1 */
    .sec1 {
        height: 62rem;
    }
    .swiper-button-prev,
    .swiper-button-next{
        top: 20.5rem;
    }
    /* sec1 */

    /* sec2 */
    iframe{
        width: 90%;
        left: 5%;
    }
    /* sec2 */
}
/* ========== 1600 ========== */


/* ========== 1500 ========== */
@media screen and (max-width:1500px){
    /* header */
    .swiper-slide img {
        width: 32rem;
        height: 32rem;
    }
    .gnb_sticky nav {
        margin-right: 15rem;
    }
    /* header */

    /* sec1 */
    .swiper-button-prev,
    .swiper-button-next{
        top: 20.5rem;
    }
    /* sec1 */
    
}
/* ========== 1600 ========== */


/* ========== 1400 ========== */
@media screen and (max-width:1400px){
    /* header */
    .swiper-slide img {
        width: 30rem;
        height: 30rem;
    }
    /* header */
}
/* ========== 1400 ========== */


/* ========== 1350 ========== */
@media screen and (max-width:1350px){
    .inner{max-width: 1200px;}
    /* header */
    .red_logo{
        left: -10rem;
        position: absolute;
    }
    .dep1 > li a {
        padding: 0 2rem;
    }
    .dep2 {
        left: -40%;
    }
    .gnb_sticky .dep2_2,
    .gnb_sticky .dep2_4{
        left: -50%;
    }
    .gnb_sticky .dep2_3,
    .gnb_sticky .dep2_5{
        left: -47%;
    }
    /* header */

    /* sec4 */
    .sec4_left img {
        max-width: 90%;
    }
    /* sec4 */

    /* sec6 */
    .sec6_box > div {
        width: 36.6rem;
        height: 48.5rem;
    }
    .sec6_textbox {
        top: 37.5rem;
    }
    /* sec6 */
}
/* ========== 1350 ========== */


/* ========== 1300 ========== */
@media screen and (max-width:1300px){
    .topbutton,
    .inquirybutton{
        width: 7rem;
        height: 7rem;
        font-size: 1.6rem;
    }
    .inquirybutton{
        line-height: 2.4rem;
    }
}
/* ========== 1300 ========== */


/* ========== 1250 ========== */
@media screen and (max-width: 1250px){
    /* sec4 */
    .sec4_left img {
        max-width: 85%;
        margin-left: 3rem;
    }
    /* sec4 */
}
/* ========== 1250 ========== */


/* ========== 1200 ========== */
@media screen and (max-width: 1200px){
    /* header */
    .logo{
        margin-left: 5rem;
    }
    .gnb_sticky .logo {
        margin-left: 17rem;
    }
    .gnb_sticky nav {
        margin-right: 5rem;
    }
    .dep1{
        margin-right: 5rem;
    }
    .header_bg_text {
        margin-left: 5rem;
        width: 80%;
    }
    .slide1{
        background-position: center center;
    }
    .slide2{
        background-position: center center;
    }
    /* header */

    /* sec1 */
    .swiper-button-prev, .swiper-button-next {
        top: 21rem;
    }
    .new::before, .best::before{
        top: 7rem;
        right: 4.2rem;
    }
    .swiper-wrapper {
        left: -41.5rem;
    }
    .swiper-slide img {
        width: 35rem;
        height: 35rem;
    }
    /* sec1 */

    /* sec4 */
    .sec4_left img{
        width: 80%;
        margin-left: 6rem;
    }
    .sec4_right_textbox{
        margin-right: 5rem;
    }
    .sec4_right_textbox_title {
        font-size: 5rem;
    }
    .sec4_right_textbox_content {
        font-size: 1.8rem;
    }
    /* sec4 */

    /* sec7 */
    .sec7_left, .sec7_right {
        width: 45rem;
    }
    /* sec7 */

    /* footer */
    footer .inner{
        max-width: 1000px;
    }
    /* footer */
}
/* ========== 1200 ========== */

/* ========== 1100 ========== */
@media screen and (max-width: 1100px){
    /* header */
    .header_bg_text {
        margin-top: 30rem;
    }
    .header_slide_control div.control_bar_wrap {
        width: 90%;
    }
    /* header */

    /* sec1 */
    .swiper-wrapper {
        left: -38.5rem;
    }
    .swiper-slide img {
        width: 32rem;
        height: 32rem;
    }
    .swiper-button-prev, .swiper-button-next  {
        top: 19.5rem;
    }
    /* sec1 */

    /* sec2 */
    .sec2_bg {
        height: 65vh;
    }
    .sec2_title {
        top: -45rem;
        left: 26rem;
    }
    iframe {
        top: -20rem;
    }
    .marquee_box {
        padding-top: 60rem;
    }
    .txt {
        font-size: 14rem;
    }
    /* sec2 */

    /* sec5 */
    .sec5 {
        height: 50rem;
    }
    .sec5_title {
        padding-top: 10rem;
    }
    /* sec5 */

    /* sec6 */
    .sec6 {
        height: 66rem;
    }
    .sec6_box > div {
        width: 33.6rem;
        height: 42.5rem;
    }
    .sec6_textbox {
        top: 33rem;
    }
    /* sec6 */

    /* sec7 */
    .sec7 {
        height: 40rem;
    }
    .sec7_left, .sec7_right {
        margin-top: 12rem;
    }
    /* sec7 */
}
/* ========== 1100 ========== */

/* ========== 1000 ========== */
@media screen and (max-width: 1000px){
    html{
        font-size: 55%;
    }

    /* header */
    header {
        height: 75rem;
    }
    .slide .slide1, .slide2 {
        background-size: 130%;
        background-position: top;
    }
    .header_bg_text {
        margin-top: 20rem;
    }
    /* header */

    /* sec1 */
    .swiper-wrapper {
        left: -41rem;
    }
    /* sec1 */

    /* sec2 */
    .sec2 {
        height: 138rem;
    }
    .sec2_bg {
        height: 50vh;
    }
    .sec2_title {
        top: -38rem;
    }
    iframe {
        height: 62rem;
    }
    /* sec2 */

    /* sec7 */
    .sec7_left, .sec7_right {
        width: 40rem;
    }
    /* sec7 */

    /* footer */
    footer .inner{
        max-width: 900px;
    }
    /* footer */
}
/* ========== 1000 ========== */

/* ========== 900 ========== */
@media screen and (max-width: 900px){
    /* header */
    .gnb_dep1{
        margin-right: 8rem;
    }
    .header_bg_text {
        margin-top: 24rem;
    }
    .header_bg_1_text_top,
    .header_bg_2_text_top {
        line-height: 6rem;
        font-size: 4rem;
    }
    .header_bg_1_text_bottom,
    .header_bg_2_text_bottom {
        margin-top: 2rem;
        font-size: 2rem;
    }
    .header_slide_control {
        padding-top: 27rem;
    }
    /* header */

    /* sec1 */
    .swiper-slide{
        width: 32.6px;
    }
    .swiper-wrapper {
        left: -40.5rem;
    }
    /* sec1 */

    /* sec2 */
    .sec2 {
        height: 110rem;
    }
    .sec2_title {
        left: 23rem;
    }
    iframe {
        height: 48rem;
    }
    .marquee_box {
        padding-top: 38rem;
    }
    .txt {
        font-size: 10rem;
    }
    /* sec2 */

    /* sec4 */
    .sec4 {
        height: 60rem;
    }
    /* sec4 */

    /* sec5 */
    .sec5 {
        height: 40rem;
    }
    .sec5_title {
        font-size: 5.5rem;
        padding-top: 7rem;
    }
    .sec5_content {
        font-size: 2rem;
    }
    .sec5_search {
        top: -4rem;
    }
    /* sec5 */

    /* sec6 */
    .sec5_search{
        max-width: 60rem;
    }
    .sec6_box > div {
        width: 28.6rem;
        height: 43.5rem;
    }
    .sec6_textbox {
        top: 28.2rem;
        width: 24.5rem;
    }
    .sec6_textbox_title {
        font-size: 1.8rem;
    }
    .imgbox {
        height: 64.5%;
    }
    /* sec6 */

    /* footer */
    footer .inner {
        max-width: 800px;
    }
    /* footer */
}
/* ========== 900 ========== */


/* ========== 850 ========== */
@media screen and (max-width: 850px){
    /* header */
    header {
        height: 63rem;
    }
    /* header */
    /* sec1 */
    .sec1_title {
        font-size: 5.8rem;
    }
    .swiper-wrapper {
        left: -37rem;
    }
    .swiper-slide img {
        width: 30rem;
        height: 30rem;
    }
    .pizza_textbox div.pizza_ko a {
        font-size: 2.4rem;
    }
    .pizza_textbox div.pizza_en a {
        font-size: 1.8rem;
    }
    /* sec1 */

    /* sec2 */
    .sec2_title {
        left: 20rem;
    }
    /* sec2 */

    /* sec7 */
    .sec7 {
        height: 37rem;
    }
    .sec7_title {
        font-size: 3rem;
    }
    .sec7_link {
        font-size: 1.8rem;
        width: 76%;
    }
    .sec7_left, .sec7_right {
        width: 35rem;
        height: 23rem;
    }
    /* sec7 */
}
/* ========== 850 ========== */

/* ========== 800 ========== */
@media screen and (max-width: 800px){
    /* header */
    header {
        height: 60rem;
    }
    .header_bg_text {
        margin-top: 18rem;
    }
    /* header */

    /* sec1 */
    .sec1 {
        padding-top: 10rem;
    }
    /* sec1 */

    /* sec2 */
    .sec2_title {
        left: 16rem;
    }
    /* sec2 */

    /* sec4 */
    .sec4_bg img{
        width: 90%;
    }
    .bg_right {
        right: -2.5rem;
    }
    /* sec4 */

    /* footer */
    footer .inner {
        max-width: 700px;
    }
    /* footer */
}
/* ========== 800 ========== */

/* ========== 770 ========== */
@media screen and (max-width: 770px){
    /* sec1 */
    .sec1 {
        height: 77rem;
    }
    .swiper-slide img {
        width: 55rem;
        height: 55rem;
    }
    .swiper-slide{
        width: 50rem;
    }
    .swiper-wrapper {
        left: -44rem;
    }
    .pizza_textbox {
        margin-left: 15rem;
    }
    /* sec1 */

    /* sec6 */
    .sec6_box > div {
        width: 25.6rem;
        height: 38.5rem;
    }
    .sec6_textbox {
        top: 25rem;
    }
    .sec6_textbox_date {
        font-size: 1.6rem;
    }
    /* sec6 */

    /* sec7 */
    .sec7 {
        height: 32rem;
    }
    .sec7_left, .sec7_right {
        width: 32rem;
        height: 21rem;
        padding: 0px 23px;
        padding-top: 2rem;
    }
    .sec7_link {
        font-size: 1.6rem;
    }
    .sec7_date {
        font-size: 1.4rem;
    }
    /* sec7 */
}
/* ========== 770 ========== */

/* ========== 720 ========== */
@media screen and (max-width: 720px){
    /* header */
    header {
        height: 53rem;
    }
    .gnb_dep1 {
        margin-right: 3rem;
    }
    .header_bg_text {
        margin-top: 11rem;
    }
    /* header */

    /* sec2 */
    .sec2 {
        height: 100rem;
    }
    .sec2_title {
        left: 16rem;
        font-size: 5.8rem;
    }
    iframe {
        top: -25rem;
    }
    .marquee_box {
        padding-top: 30rem;
    }
    /* sec2 */

    /* sec4 */
    .sec4 {
        height: 45rem;
    }
    /* sec4 */

    /* sec7 */
    .sec7 {
        padding-bottom: 8rem;
    }
    .sec7_left, .sec7_right {
        margin-top: 18rem;
    }
    /* sec7 */

    /* footer */
    footer .inner {
        max-width: 600px;
    }
    /* footer */
}
/* ========== 720 ========== */

/* ========== 700 ========== */
@media screen and (max-width: 700px){
    /* header */
    .gnb_dep1 {
        display: none;
    }
    /* header */
}
/* ========== 700 ========== */

/* todo 여기부터 해야함 */
/* todo 여기부터 해야함 */
/* todo 여기부터 해야함 */


/* ========== 650 ========== */
@media screen and (max-width: 650px){
    /* sec1 */
    .swiper-slide img {
        width: 40rem;
        height: 40rem;
    }
    .pizza_textbox {
        margin-left: 0rem;
    }
    .swiper-button-prev, .swiper-button-next {
        top: 23.5rem;
    }
    .swiper-wrapper {
        left: -27rem;
    }
    /* sec1 */
}
/* ========== 650 ========== */

/* ========== 600 ========== */
@media screen and (max-width: 600px){
    /* sec1 */
    .swiper-slide img {
        width: 38rem;
        height: 38rem;
    }
    .swiper-wrapper {
        left: -24.5rem;
    }
    /* sec1 */
}
/* ========== 600 ========== */

/* ========== 550 ========== */
@media screen and (max-width: 550px){
    /* sec1 */
    .swiper-wrapper {
        left: -29.5rem;
    }
    /* sec1 */
}
/* ========== 550 ========== */

/* ========== 500 ========== */
@media screen and (max-width: 500px){
    /* sec1 */
    .swiper-wrapper {
        left: -33.5rem;
    }
    /* sec1 */
}
/* ========== 500 ========== */