.inner{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.remove{
    display: none;
}
.black_button{
    position: relative;
    width: 30.6rem;
    height: 5.6rem;
    border-radius: 5rem;
    overflow: hidden;
    text-align: center;
    border: 2px solid #000;
}
.black_button::before{
    position: absolute;
    transition: all .5s;
    width: 100%;
    height: 6rem;
    content: '';
    background-color: black;
    top: 0;
    left: 0;
}
.black_button:hover .black_button::before{
    opacity: 0;
}
.black_button > a{
    z-index: 1;
    font-size: 1.8rem;
    line-height: 5.6rem;
}
/* ====================================
    ======= header ======    
==================================== */
header{
    width: 100%;
    height: 92rem;
}
/* ===== bg ===== */
.slide{
    width: 100%;
    position: relative;

    & .slide1, .slide2{
        transition: all 1s;
        position: absolute;
        z-index: -1;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.slide .on{
    opacity: 1;
}
.slide1{
    background-image: url(../img/mainpage/main/main_banner_pc1.png);
}
.slide2{
    background-image: url(../img/mainpage/main/main_banner_pc2.jpg);
}

/* ===== bg ===== */

/* ===== gnb_white ===== */
.gnb_white{
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
}
/* ===== logo ===== */
.logo{
    width: 30%;

    & .white_logo{
        width: 22rem;
        top: -1.5rem;
    }
    & .indent_logo{
        /* text-indent: 9999999rem; */
        display: none;
    }
}
/* ===== logo ===== */
/* ===== nav ===== */
nav{
    width: 70%;
    height: 100%;
}
.dep1{
    position: relative;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: right;
    column-gap: 2rem;
}
.dep1 > li{
    height: 100%;
    line-height: 8rem;
    display: block;
}
.dep1 > li a{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    padding: 0 3rem;
    height: 100%;
    line-height: 8rem;
}
.dep2{
    position: absolute;
    z-index: 99;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    text-align: center;
    background-color: white;
    width: 16.5rem;
    border-radius: 3%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.dep2 > li a{
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 6rem;
}
.dep2 li:hover a{
    color: var(--primary1);
}
.dep2_1{
    left: 33rem;
}
.dep1 li:hover .dep2_1{
    height: 229%;
}
.dep2_2{
    left: 45rem;
}
.dep1 li:hover .dep2_2{
    height: 229%;
}
.dep2_3{
    left: 56rem;
}
.dep1 li:hover .dep2_3{
    height: 151%;
}
.dep2_4{
    left: 68rem;
}
.dep1 li:hover .dep2_4{
    height: 151%;
}
.dep2_5{
    left: 78.5rem;
}
.dep1 li:hover .dep2_5{
    height: 380%;
}
/* ===== nav ===== */
/* ===== gnb_white ===== */

/* ===== header_bg_text ===== */
.header_bg_text .show{
    opacity: 1;
}
.header_bg_text{
    width: 100%;
    margin-top: 7rem;
    position: relative;
}
.bg_textbox_1, .bg_textbox_2{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    opacity: 0;
    top: 0;
    left: 0;
}
.header_bg_1_text_top, .header_bg_2_text_top{
    line-height: 8.8rem;
    font-size: 7.2rem;
    font-weight: 900;
    color: white;
}
.header_bg_1_text_bottom, .header_bg_2_text_bottom{
    margin-top: 3rem;
    font-size: 2.8rem;
    font-weight: 400;
    color: white;
}
.header_slide_control{
    padding-top: 38rem;
    align-items: center;

    & span{
        font-size: 2rem;
        font-weight: 400;
        color: white;
    }

    & img{
        width: 2.5rem;
    }
    & img:nth-of-type(1){
        margin-left: 2.5rem;
    }

    & .control_bar_wrap{
        margin-left: 3rem;
        margin-right: 3rem;
        width: 30rem;
        height: 0.2rem;
        align-items: center;
        overflow: hidden;
    }
    & .control_bar_back{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, .3);
    }
    & .control_bar_front{
        transition: all 0.5s;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .1s;
        background-color: rgba(255, 255, 255, 1);
        /* transform: translateX(-50%); */
        animation: controlBar 8s infinite;
    }
}
@keyframes controlBar {
    0%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* ===== header_bg_1 ===== */
/* ====================================
    ======= header ======    
==================================== */

/* ====================================
    ======= sec1 ======    
==================================== */
.sec1{
    width: 100%;
    height: 70rem;
    padding-top: 20rem;
    padding-bottom: 10rem;
    overflow: hidden;
}
.sec1_title{
    font-size: 6.8rem;
    font-family: Mont;
    text-align: center;
    opacity: 0;
    transition: all 1.5s;
}

/* ===== gnb_red ===== */
.gnb_red{
    /* display: none; */
    position: sticky;
    background-color: white;
}
div.gnb_red > nav a{
    color: black;
}
.red_logo{
    width: 22rem;
    top: 1.5rem;
}
/* ===== gnb_red ===== */

/* ===== sec1_pizza_wrap ===== */
.sec1_pizza_wrap{
    top: 15rem;
    left: -44rem;
    margin-top: 11rem;
    opacity: 0;
    transition: all 1.5s;
    margin: auto;
}
.sec1_pizza{
    margin-right: 4.8rem;
}
.sec1_pizza img{
    transition: all .3s;
    width: 40rem;
    height: 40rem;
}
.sec1_pizza img:hover{
    transform: scale(1.04);
}
.pizza_textbox{
    text-align: center;
    margin-top: 2rem;
}
.pizza_textbox div.pizza_ko{
    padding-bottom: 0.8rem;
}
.pizza_textbox div.pizza_ko a{
    font-size: 3.2rem;
    font-weight: bold;
    color: black;
}
.pizza_textbox div.pizza_en a{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary1);
}
.new{
    position: relative;
}
.new::before{
    position: absolute;
    z-index: 5;
    display: block;
    content: '';
    background-image: url(../img/mainpage/sec1/new.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 20px;
    right: 22px;
    width: 81px;
    height: 80px;
}
.best{
    position: relative;
}
.best::before{
    position: absolute;
    z-index: 5;
    display: block;
    content: '';
    background-image: url(../img/mainpage/sec1/best.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 20px;
    right: 22px;
    width: 81px;
    height: 80px;
}
/* ===== sec1_pizza_wrap ===== */
/* ===== sec1_pizza_arrow ===== */
.arrow_prev, .arrow_next{
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-color: white;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.arrow_prev{
    top: 26rem;
    left: -26rem;
}
.arrow_next{
    top: 22rem;
    right: -151rem;
}
.arrow_prev:before{
    position: absolute;
    content: '';
    display: block;
    width: 2.5rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/mainpage/sec1/arrow_prev.png);
    background-size: cover;
}
.arrow_next:before{
    position: absolute;
    content: '';
    display: block;
    width: 2.5rem;
    height: 2.4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/mainpage/sec1/arrow_next.png);
    background-size: cover;
}
/* ===== sec1_pizza_arrow ===== */
/* ====================================
    ======= sec1 ======    
==================================== */

/* ====================================
    ======= sec2 ======    
==================================== */
.sec2{
    width: 100%;
    height: 155rem;
}
.sec2_title{
    top: -70rem;
    left: 37rem;
    position: absolute;
    font-size: 6.8rem;
    color: white;
    font-family: Mont;
    margin-top: 3rem;
}
.sec2_bg{
    width: 100%;
    height: 100vh;
    max-height: 86rem;
    min-height: 44.7rem;
    background-image: url(../img/mainpage/sec2/s2_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}   
iframe{
    position: absolute;
    top: -51rem;
    width: 128rem;
    height: 72rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 1s;
}
/* =====  marquee ===== */
.marquee_box{
    width: 146%;
    position: absolute;
    z-index: -1;
    left: -30rem;
    padding-top: 37rem;
    opacity: 0;
    overflow: hidden;
    transition: all 1s;
}
.marquee{
    display: inline-flex;

    &.n1{
        animation: marquee forwards infinite linear 70s;
    }
    &.n2{
        animation: marquee2 forwards infinite linear 70s;
    }
} 
.txt{
    display: flex;
    font-size: 16rem;
    color: var(--primary1);
    font-family: Mont;
    white-space: nowrap;
}
.marquee .txt strong{
    display: inline-block;
    padding: 0 1.6rem;
}
.marquee .txt span{
    -webkit-text-stroke: 1px var(--primary1);
    display: block;
    color: transparent;
    padding: 0 1.6rem;
}

@keyframes marquee {
	from {
        transform: translateX(0);
	}
	to {
        transform: translateX(-50%);
	}
}
@keyframes marquee2 {
	from {
        transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}
/* =====  marquee ===== */
/* ====================================
======= sec2 ======    
==================================== */

/* ====================================
======= sec4 ======    
==================================== */
.sec4{
    width: 100%;
    height: 65rem;
    padding-top: 24rem;
    overflow: hidden;
}
.bg_left{
    bottom: -80rem;
    left: 0;
    z-index: -1;
    transition: all 3s;
    animation: left_x 3s infinite  ease-in-out;
}
@keyframes left_x {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-5rem);
    }
    100%{
        transform: translateX(0);
    }
}
.bg_right{
    top: -35rem;
    right: 0;
    z-index: -1;
    transition: all 0.5s;
    animation: right_x 3s infinite ease-in-out;
}
@keyframes right_x {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(0);
    }
}
.sec4 > .inner{
    justify-content: space-between;
    align-items: center;
}
.sec4_left img{
    border-radius: 1.6rem;
    max-width: 100%;
}
.sec4_right_textbox_title{
    font-size: 6.8rem;
    font-family: Mont;
    text-align: left;
}
.sec4_right_textbox_content{
    margin-top: 2rem;
    margin-bottom: 6rem;
    color: #4b4b4b;
    font-size: 2.4rem;
}
/* ====================================
======= sec4 ======    
==================================== */

/* ====================================
======= sec5 ======    
==================================== */
.sec5{
    width: 100%;
    height: 60rem;
}
.sec5_bg{
    background-image: url(/img/mainpage/sec5/sec5_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec5_title{
    padding-top: 16rem;
    font-size: 6.8rem;
    color: #fff;
    font-family: Mont;
    text-align: center;
}
.sec5_content{
    margin-top: 1.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.sec5_search{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    max-width: 84rem;
    width: 100%;
    height: 7.5rem;
    background-color: white;
    border-radius: 5rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 16rem;
}
.sec5_search  > span{
    font-size: 2rem;
    color: #A8A8A8;
    margin-left: 4.5rem;
}
.search_icon{
    margin-right: 0.5rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.search_icon > img{
    width: 4rem;
    height: 4rem;
    text-align: center;
}
/* ====================================
======= sec5 ======    
==================================== */

/* ====================================
======= sec6 ======    
==================================== */
.sec6{
    padding-top: 16rem;
    width: 100%;
    height: 83rem;
}
.sec6_title{
    font-size: 6.8rem;
    font-family: Mont;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.sec6_content{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    color: #4B4B4B;
    margin-top: 2.2rem;
    opacity: 0;
    transition: 1s;
}
.sec6_box{
    margin-top: 6rem;
    justify-content: space-evenly;
}
.sec6_box > div{
    width: 41.6rem;
    height: 53.5rem;
}
.sec6_box > div > img{
    border-radius: 16px 16px 0 0;
    width: 41.6rem;
}
.sec6_textbox{
    width: 37.5rem;
    padding: 1.95rem;
    border-radius: 0 0 16px 16px;
    border: 1px solid #E2E2E2;
    top: 41.5rem;
}
.sec6_textbox_title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.sec6_textbox_date{
    font-size: 2rem;
    color: #888888;
}
.imgbox{
    width: 100%;
    height: 77.5%;
    overflow: hidden;
}
.sec6_box_left{
    border-radius: 16px 16px 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.7s;
}
.sec6_box_left .imgbox > img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.sec6_box_left .imgbox:hover > img{
    transform: scale(1.1);
}
.sec6_box_mid{
    border-radius: 16px 16px 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1.5s;
}
.sec6_box_mid .imgbox > img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.sec6_box_mid .imgbox:hover > img{
    transform: scale(1.1);
}
.sec6_box_right{
    border-radius: 16px 16px 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 2s;
}
.sec6_box_right .imgbox > img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.sec6_box_right .imgbox:hover > img{
    transform: scale(1.1);
}
.sec6 .black_button{
    margin: auto;
    margin-top: 6rem;
}
/* ====================================
======= sec6 ======    
==================================== */

/* ====================================
======= sec7 ======    
==================================== */
.sec7{
    margin-top: 16rem;
    padding-bottom: 13rem;
    width: 100%;
    height: 45rem;
}
.sec7 > .inner{
    justify-content: center;
    column-gap: 2rem;
}
.sec7_bg{
    background-image: url(/img/mainpage/sec7/sec7_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec7_left, .sec7_right{
    width: 60rem;
    height: 25rem;
    margin-top: 15rem;
    border-radius: 1.6rem;
    padding: 0 32px;
    padding-top: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: all 1.5s;
}
.sec7_title{
    font-size: 4rem;
    font-family: Mont;
    margin-bottom: 1.2rem;
}
.sec7_link{
    font-size: 2rem;
    width: 80%;
    margin: 2rem 0;
    overflow: hidden;
}
.sec7_link a{
    color: black;
}
.sec7_date{
    width: 20%;
    text-align: right;
    font-size: 2rem;
    margin: 2rem 0;
}
.sec7_date a{
    color: #888;
}
.sec7 .link1:before, .link2:before{
    position: absolute;
    content: '';
    width: 58rem;
    height: .5px;
    background-color: #9c9c9c;
    bottom: 0.2rem;
}
/* ====================================
======= sec7 ======    
==================================== */

/* ====================================
======= footer ======    
==================================== */
footer{
    width: 100%;
    height: 30rem;
    background-color: #f8f8f8;
}
.footer_link{
    padding-top: 8rem;
}
div.footer_link span:first-child{
    margin-right: 1.7rem;
}
div.footer_link span:first-child a{
    font-weight: bold;
}
.footer_link a{
    font-size: 1.6rem;
    font-weight: 500;
    color: #4b4b4b;
}
.footer_info{
    margin-top: 3rem;
    font-size: 1.6rem;
}
.footer_info span{
    margin-right: 1.7rem;
    color: #4b4b4b;
}
.footer_mail{
    margin-top: 1.2rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
}
.footer_mail span{
    margin-right: 1.7rem;
    color: #4b4b4b;
}
.footer_copy_icon{
    justify-content: space-between;
    font-size: 1.6rem;
    color: #4b4b4b;
}
.footer_copy_icon span{
    width: 80%;
}
.footer_icon{
    width: 20%;
    justify-content: space-evenly;
}
.footer_icon img{
    width: 3.2rem;
}
/* ====================================
======= footer ======    
==================================== */

.fixed_button{
    position: fixed;
    z-index: 999;
    bottom: 6rem;
    right: 6rem;
    opacity: 0;
    transition: all 0.5s;
}
.topbutton, .inquirybutton{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
    text-align: center;
}
.topbutton{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    font-family: Mont;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topbutton img{
    width: 2rem;
}
.inquirybutton{
    margin-top: 1.2rem;
    background-color: #fff;
    color: var(--primary1);
    font-size: 2.4rem;
    font-weight: 900;    
    line-height: 2.8rem;
    align-items: center;
    justify-content: center;
}