.wrap {
	width: 100%;
}
.inner{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}
.remove{
    display: none;
}
.popup {
	position: fixed;
	width: min(31%, 550px);
	padding: 3% 2%;
	font-size: 1.8rem;
	line-height: 1.75;
	background-color: #fff;
	border-radius: 3%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    opacity: .9;
	z-index: 99999999;
	top: 13%;
	left: 34%;
    overflow: hidden;
    transition: all 1s;
}
.popup > span {
	user-select: none;
	position: absolute;
	background-color: var(--primary1);
	color: #fff;
	border-radius: 5%;
	padding: 0% 2%;
	right: 6%;
	bottom: 10%;
	cursor: pointer;
}
.black_button{
    width: 30.6rem;
    height: 5.6rem;
    border-radius: 5rem;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.button_front{
    width: 30.6rem;
    height: 5.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 5.6rem;
    top: 0;
    left: 0;
    border: 2px solid #000;
    transition: all .5s ease-in-out;
    background-color: black;
    color: white;
    z-index: 999;
}
.black_button:hover .button_front{
    transform: translateX(100%);
}
.button_back{
    width: 30.3rem;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    line-height: 5.6rem;
    top: 0;
    left: 0;
    border-radius: 5rem;
    border: 2px solid #000;
    color: black;
}
.button_front > a{
    color: white;
}
.button_back > a{
    color: black;
}
/* ====================================
    ======= header ======    
==================================== */
header{
    width: 100%;
    height: 100vh;
}
/* ===== bg ===== */
.slide{
    width: 100%;
    position: relative;

}
.slide .slide1, .slide2{
    transition: all 1s;
    position: absolute;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide .on{
    opacity: 1;
}
.slide1{
    background-image: url(../img/mainpage/main/main_banner_pc1.png);
}
.slide2{
    background-image: url(../img/mainpage/main/main_banner_pc2.jpg);
}

/* ===== bg ===== */

/* ===== gnb ===== */
.gnb{
    width: 100%;
    height: 8rem;
    align-items: center;
    justify-content: space-between;
}
/* ===== logo ===== */
.logo{
    width: 30%;
}
.logo .white_logo,
.red_logo{
    width: 22rem;
    top: -1.5rem;
}
.logo .indent_logo{
    /* text-indent: 9999999rem; */
    display: none;
}
/* ===== logo ===== */
/* ===== nav ===== */
nav{
    width: 70%;
    height: 100%;
}
.dep1{
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: right;
    column-gap: 2rem;
}
.dep1 > li{
    position: relative;
    height: 100%;
    line-height: 8rem;
    display: block;
}
.dep1 > li a{
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    padding: 0 3rem;
    height: 100%;
    line-height: 8rem;
}
.dep2{
    position: absolute;
    left: -25%;
    z-index: 99;
    height: 0;
    overflow: hidden;
    transition: all .3s;
    text-align: center;
    background-color: white;
    width: 16.5rem;
    border-radius: 3%;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.dep2_2,
.dep2_4{
    left: -35%;
}
.dep2_3,
.dep2_5{
    left: -32%;
}
.dep2 > li a{
    color: black;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 6rem;
}
.dep2 li:hover a{
    color: var(--primary1);
}
.dep1 li:hover .dep2_1{
    height: 229%;
}
.dep1 li:hover .dep2_2{
    height: 229%;
}
.dep1 li:hover .dep2_3{
    height: 151%;
}
.dep1 li:hover .dep2_4{
    height: 151%;
}
.dep1 li:hover .dep2_5{
    height: 380%;
}
/* ===== nav ===== */

/* ===== gnb_sticky ===== */
.gnb_sticky{
    position: fixed;
    z-index: 9;
    top: -50%;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: all 0.5s;
    max-height: 80px;

}
.gnb_sticky .logo{
    margin-left: 25rem;
}
.gnb_sticky nav{
    margin-right: 30rem;
}
.gnb_sticky .dep1_li > a{
    color: black;
}
.gnb_sticky .dep2_2,
.gnb_sticky .dep2_4{
    left: -35%;
}
.gnb_sticky .dep2_3,
.gnb_sticky .dep2_5{
    left: -32%;
}
/* ===== gnb_sticky ===== */


/* ===== accordian ===== */
.ac_dep1{
    width: 36rem;
    height: 100vh;
}
/* ===== accordian ===== */

/* ===== header_bg_text ===== */
.header_bg_text .show{
    opacity: 1;
}
.header_bg_text{
    width: 100%;
    margin-top: 17rem;
    position: relative;
}
.bg_textbox_1, .bg_textbox_2{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
    opacity: 0;
    top: 0;
    left: 0;
}
.header_bg_1_text_top, .header_bg_2_text_top{
    line-height: 8.8rem;
    font-size: 7.2rem;
    font-weight: 900;
    color: white;
}
.header_bg_1_text_bottom, .header_bg_2_text_bottom{
    margin-top: 3rem;
    font-size: 2.8rem;
    font-weight: 400;
    color: white;
}
.header_slide_control{
    padding-top: 38rem;
    align-items: center;
}
.header_slide_control span{
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.header_slide_control img{
    width: 2.5rem;
    cursor: pointer;
}
.header_slide_control img:nth-of-type(1){
    margin-left: 2.5rem;
}

.header_slide_control .control_bar_wrap{
    margin-left: 3rem;
    margin-right: 3rem;
    width: 30rem;
    height: 0.2rem;
    align-items: center;
    overflow: hidden;
}
.header_slide_control .control_bar_back{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
}
.header_slide_control .control_bar_front{
    transition: all 0.5s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .1s;
    background-color: rgba(255, 255, 255, 1);
    /* transform: translateX(-50%); */
    animation: controlBar 8s infinite;
}
@keyframes controlBar {
    0%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
/* ===== header_bg_1 ===== */
/* ====================================
    ======= header ======    
==================================== */

/* ====================================
    ======= sec1 ======    
==================================== */
.sec1{
    width: 100%;
    height: 75rem;
    padding-top: 13rem;
    padding-bottom: 4rem;
    overflow: hidden;
    background-color: #fff;
}
.sec1:before{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}
.sec1_title{
    font-size: 6.8rem;
    font-family: Mont;
    text-align: center;
    opacity: 0;
    transition: all 1.5s;
}

/* ===== sec1_pizza_wrap ===== */
.sec1_pizza_wrap{
    top: 15rem;
    left: -44rem;
    margin-top: 11rem;
    opacity: 0;
    transition: all 1.5s;
    margin: auto;
}
.sec1_pizza{
    margin-right: 4.8rem;
}
.sec1_pizza img{
    transition: all .3s;
}
.sec1_pizza img:hover{
    transform: scale(1.04);
}
.pizza_textbox{
    text-align: center;
    margin-top: 2rem;
}
.pizza_textbox div.pizza_ko{
    padding-bottom: 0.8rem;
}
.pizza_textbox div.pizza_ko a{
    font-size: 3.2rem;
    font-weight: bold;
    color: black;
}
.pizza_textbox div.pizza_en a{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary1);
}
.new{
    position: relative;
}
.new::before{
    position: absolute;
    z-index: 5;
    display: block;
    content: '';
    background-image: url(../img/mainpage/sec1/new.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 6rem;
    right: 2.2rem;
    width: 8.1rem;
    height: 8rem;
}
.best{
    position: relative;
}
.best::before{
    position: absolute;
    z-index: 5;
    display: block;
    content: '';
    background-image: url(../img/mainpage/sec1/best.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    top: 6rem;
    right: 2.2rem;
    width: 8.1rem;
    height: 8rem;
}
.swiper-wrapper {
    left: -14rem;
    padding-bottom: 15rem;
}
.swiper {
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: all 1.5s;
}
.swiper-slide{
    width: 40rem;
    margin-right: 5rem;
}
.swiper-slide img {
    width: 40rem;
    height: 40rem;
    margin-top: 5rem;
}
.sec1_pizza {
    width: 40rem;
}
.swiper-button-next{
    right: 5rem;
    left: auto;
    top: 23.5rem;
    background-color: #fff;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.swiper-button-prev{
    background-color: #fff;
    width: 4.8rem;
    height: 4.8rem;
    left: 5rem;
    right: auto;
    top: 23.5rem;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
:root {
    --swiper-navigation-size: 27px;
    --swiper-theme-color: #000;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 1.8rem;
    font-weight: 900;
}
/* ===== sec1_pizza_wrap ===== */

/* ====================================
    ======= sec1 ======    
==================================== */

/* ====================================
    ======= sec2 ======    
==================================== */
.sec2{
    width: 100%;
    height: 170rem;
}
.sec2_title{
    top: -67rem;
    left: 37rem;
    position: absolute;
    font-size: 6.8rem;
    color: white;
    font-family: Mont;
    margin-top: 3rem;
}
.sec2_bg{
    width: 100%;
    height: 100vh;
    max-height: 86rem;
    min-height: 44.7rem;
    background-image: url(../img/mainpage/sec2/s2_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}   
iframe{
    position: absolute;
    top: -40rem;
    width: 100%;
    height: 72rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 1.5s;
}
/* =====  marquee ===== */
.marquee_box{
    width: 100%;
    position: absolute;
    z-index: -1;
    padding-top: 45rem;
    opacity: 0;
    overflow: hidden;
    transition: all 1s;
}
.marquee{
    display: inline-flex;
} 
.n1{
    animation: marquee forwards infinite linear 70s;
}
.n2{
    animation: marquee2 forwards infinite linear 70s;
}
.txt{
    display: flex;
    font-size: 16rem;
    color: var(--primary1);
    font-family: Mont;
    white-space: nowrap;
}
.marquee .txt strong{
    display: inline-block;
    padding: 0 1.6rem;
}
.marquee .txt span{
    -webkit-text-stroke: 1px var(--primary1);
    display: block;
    color: transparent;
    padding: 0 1.6rem;
}

@keyframes marquee {
	from {
        transform: translateX(0);
	}
	to {
        transform: translateX(-50%);
	}
}
@keyframes marquee2 {
	from {
        transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}
/* =====  marquee ===== */
/* ====================================
======= sec2 ======    
==================================== */

/* ====================================
======= sec4 ======    
==================================== */
.sec4{
    width: 100%;
    height: 65rem;
    padding-top: 24rem;
    overflow: hidden;
}
.bg_left{
    bottom: -80rem;
    left: 0;
    z-index: -1;
    transition: all 3s;
    animation: left_x 3s infinite  ease-in-out;
}
@keyframes left_x {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-5rem);
    }
    100%{
        transform: translateX(0);
    }
}
.bg_right{
    top: -23rem;
    right: 0;
    z-index: -1;
    transition: all 0.5s;
    animation: right_x 3s infinite ease-in-out;
}
@keyframes right_x {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5rem);
    }
    100%{
        transform: translateX(0);
    }
}
.sec4 > .inner{
    justify-content: space-between;
    align-items: center;
}
.sec4_left img{
    border-radius: 1.6rem;
    max-width: 100%;
}
.sec4_right_textbox_title{
    font-size: 6.8rem;
    font-family: Mont;
    text-align: left;
}
.sec4_right_textbox_content{
    margin-top: 2rem;
    margin-bottom: 6rem;
    color: #4b4b4b;
    font-size: 2.4rem;
}
/* ====================================
======= sec4 ======    
==================================== */

/* ====================================
======= sec5 ======    
==================================== */
.sec5{
    width: 100%;
    height: 60rem;
}
.sec5_bg{
    background-image: url(../img/mainpage/sec5/sec5_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec5_title{
    padding-top: 16rem;
    font-size: 6.8rem;
    color: #fff;
    font-family: Mont;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.sec5_content{
    margin-top: 1.2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 1.5s;
}
.sec5_search{
    text-align: left;
    align-items: center;
    justify-content: space-between;
    height: 7.5rem;
    background-color: white;
    border-radius: 5rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 16rem;
    position: relative;
    width: 100%;
    opacity: 0;
    transition: all 2s;
    cursor: pointer;
}
.search_bar{
    width: 100%;
    transition: all 2s;
}
.search_bar > span{
    overflow: hidden;
    font-size: 2rem;
    color: #A8A8A8;
    margin-left: 4.5rem;
    transition: all 2s;
}
.search_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.4rem;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.search_icon > img{
    width: 4rem;
    height: 4rem;
    text-align: center;
}
/* ====================================
======= sec5 ======    
==================================== */

/* ====================================
======= sec6 ======    
==================================== */
.sec6{
    padding-top: 16rem;
    width: 100%;
    height: 83rem;
}
.sec6_title{
    font-size: 6.8rem;
    font-family: Mont;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}
.sec6_content{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    color: #4B4B4B;
    margin-top: 2.2rem;
    opacity: 0;
    transition: all 2s;
}
.sec6_box{
    margin-top: 6rem;
    justify-content: space-evenly;
}
.sec6_box > div{
    width: 41.6rem;
    height: 53.5rem;
}
.sec6_box > div > img{
    border-radius: 16px 16px 0 0;
    width: 41.6rem;
}
.sec6_textbox{
    width: 37.5rem;
    padding: 1.95rem;
    border-radius: 0 0 16px 16px;
    border: 1px solid #E2E2E2;
    top: 41.5rem;
}
.sec6_textbox_title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.sec6_textbox_title > a{
    color: black;
}
.sec6_textbox_date{
    font-size: 2rem;
    color: #888888;
}
.imgbox{
    width: 100%;
    height: 77.5%;
    overflow: hidden;
}
.sec6_box_left{
    border-radius: 16px 16px 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.7s;
}
.sec6_box_left .imgbox > img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.sec6_box_left .imgbox:hover > img{
    transform: scale(1.1);
}
.sec6_box_mid{
    border-radius: 16px 16px 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1.5s;
}
.sec6_box_mid .imgbox > img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.sec6_box_mid .imgbox:hover > img{
    transform: scale(1.1);
}
.sec6_box_right{
    border-radius: 16px 16px 0 0;
    opacity: 0;
    overflow: hidden;
    transition: all 2s;
}
.sec6_box_right .imgbox > img{
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}
.sec6_box_right .imgbox:hover > img{
    transform: scale(1.1);
}
.sec6 .black_button{
    margin: auto;
    margin-top: 6rem;
}
/* ====================================
======= sec6 ======    
==================================== */

/* ====================================
======= sec7 ======    
==================================== */
.sec7{
    margin-top: 16rem;
    padding-bottom: 13rem;
    width: 100%;
    height: 45rem;
}
.sec7 > .inner{
    justify-content: center;
    column-gap: 2rem;
}
.sec7_bg{
    background-image: url(../img/mainpage/sec7/sec7_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.sec7_left, .sec7_right{
    width: 60rem;
    height: 25rem;
    margin-top: 15rem;
    border-radius: 1.6rem;
    padding: 0 32px;
    padding-top: 4rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: all 1.5s;
}
.sec7_title{
    font-size: 4rem;
    font-family: Mont;
    margin-bottom: 1.2rem;
}
.sec7_link{
    font-size: 2rem;
    width: 80%;
    margin: 2rem 0;
    overflow: hidden;
}
.sec7_link a{
    color: black;
    white-space: nowrap;
    transition: all 0.5s;
}
.sec7_link a:hover{
    color: var(--primary1);
}
.sec7_date{
    width: 20%;
    text-align: right;
    font-size: 2rem;
    margin: 2rem 0;
}
.sec7_date a{
    color: #888;
}
.sec7 .right_link:before, .left_link:before{
    position: absolute;
    content: '';
    /* width: 58rem; */
    width: 98%;
    height: .5px;
    background-color: #9c9c9c;
    bottom: 0.2rem;
}
/* ====================================
======= sec7 ======    
==================================== */

/* ====================================
======= footer ======    
==================================== */
footer{
    width: 100%;
    height: 30rem;
    background-color: #f8f8f8;
}
.footer_link{
    padding-top: 8rem;
}
div.footer_link span:first-child{
    margin-right: 1.7rem;
}
div.footer_link span:first-child a{
    font-weight: bold;
}
.footer_link a{
    font-size: 1.6rem;
    font-weight: 500;
    color: #4b4b4b;
}
.footer_info{
    margin-top: 3rem;
    font-size: 1.6rem;
}
.footer_info span{
    margin-right: 1.7rem;
    color: #4b4b4b;
}
.footer_mail{
    margin-top: 1.2rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
}
.footer_mail span{
    margin-right: 1.7rem;
    color: #4b4b4b;
}
.footer_copy_icon{
    justify-content: space-between;
    font-size: 1.6rem;
    color: #4b4b4b;
}
.footer_copy_icon span{
    width: 80%;
}
.footer_icon{
    width: 20%;
    justify-content: space-evenly;
}
.footer_icon img{
    width: 3.2rem;
}
/* ====================================
======= footer ======    
==================================== */

.fixed_button{
    position: fixed;
    z-index: 999;
    bottom: 6rem;
    right: 6rem;
    opacity: 0;
    transition: all 0.5s;
}
.topbutton, .inquirybutton{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
    text-align: center;
}
.topbutton{
    background-color: black;
    color: white;
    font-size: 2.4rem;
    font-family: Mont;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.topbutton img{
    width: 2rem;
}
.inquirybutton{
    margin-top: 1.2rem;
    background-color: #fff;
    color: var(--primary1);
    font-size: 2.4rem;
    font-weight: 900;    
    line-height: 2.8rem;
    align-items: center;
    justify-content: center;
}